table {
  width: 100%;

  .col-value {
    text-align: left;
    word-break: break-word;
  }

  .col-score, .col-comparative {
    text-align: right;
  }
  
  .col-score {
    min-width: 55px;
  }

  .col-comparative {
    min-width: 115px;
  }

  td {
    padding: 10px 0;
  }
}