.listItem {
  position: relative;
  .grid {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-areas: "profile-image channel-title score";
    grid-template-columns: 100px 1fr 1fr;
    grid-gap: 20px;

    padding: 10px 20px;

    color: #fdd947;

    .profile-image {
      grid-area: profile-image;

      img {
        border-radius: 300px;
        width: 60px;
      }
    }
    .channel-title {
      grid-area: channel-title;
      text-align: left;
    }

    .score {
      grid-area: score;
      text-align: right;
    }
  }

  .banner {
    background-color: grey;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    filter: grayscale(1) blur(5px) brightness(20%);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .no-anchor-style:link {
    text-decoration: inherit;
    color: inherit;
  }

  .no-anchor-style:visited {
    text-decoration: inherit;
    color: inherit;
  }
}
