.listItem {
  display: grid;
  grid-template-areas:
    "divider divider divider"
    "profile-image channel-title score";

  padding: 10px 20px;

  color: #fdd947;

  .divider {
    grid-area: divider;
  }

  .profile-image {
    grid-area: profile-image;

    img {
      border-radius: 300px;
    }
  }
  .channel-title,
  .score {
    padding-top: 11px;
  }
  .channel-title {
    grid-area: channel-title;
  }

  .score {
    grid-area: score;
  }
}
