main {
  margin-left: auto;
  margin-right: auto;
  margin-top: 260px;
  margin-bottom: 50px;
  max-width: 600px;
  padding: 40px 70px;
  background-color: #383838;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.7);
  border-radius: 50px;
  color: #fdd947;
}


